*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    background-color:transparent !important;;
    /* padding: 10px; */
    padding-top: 20px;
}
nav .logoimg{
    width: 28px;
    padding: 10px;
    background-color: #EB0029;
}
nav .logoimg:hover{
    transition: 1s ease-in-out;
    transform: rotate(360deg) scale(1.1);
}
nav .logoimg p{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}
.logo{
    width:140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
nav .header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
   
    margin-left: 5%;
}
.images .searchicon img{
    width: 25px;
    position: relative;
}
.searchicon img:hover{
    top: -0.16em;
    transition: padding 0.5s, top 0.35s, box-shadow 0.4s;
    /* margin-bottom: 3px; */
    cursor: pointer;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart img{
    width: 25px;
    position:absolute;
}
.cart .color{
    position: relative;
    top: -10px;
    right: -10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    padding: 1px;
    /* margin-bottom: 15px; */
}
.cart .color p{
font-size: 9px;
color: white;
margin-left: 2px;
font-weight: 200px;
 
}
.cart:hover{
        margin-bottom: 4px;
        cursor: pointer;
    /* top: -0.16em;
    transition: padding 0.5s, top 0.35s, box-shadow 0.4s; */
}

.navlinks {
    width:500px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    border: none;
}
.navlinks ul a{
    color: black;
    text-decoration: none;
    padding: 10px;
    border: none;
}
ul a:hover{
    color:#EB0029;
}
.images{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.images .login{
    width: 80px;
    padding: 15px;
    background-color: #EB0029;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 25px;
}
.login:hover{
    background-color: #d8301d;
    cursor: pointer;
    /* transition: padding 0.5s, top 0.35s, box-shadow 0.4s;  */
    /* visibility: hidden; */
    /* margin-bottom: 4px; */
    /* transform: rotateX('360deg'); */
    transition: 1s ease-in-out;
    transform: rotate(-10deg) scale(1);
}
.hero{
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
}
.hero .contents{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contents .cherry{
    width: 170px;
    background-color: #fdebd4e9;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents .cherry p{
    font-size: 15px;
    color:#d8301d;
    font-weight: 500;
    padding: 0;
}
.cherry img{
   padding-left: 15px;
}
.cherry img:hover{
    transition: 1s ease-in-out;
    transform: rotate(360deg) scale(1.1);
}
.contents h1{
    padding-top: 40px;
    font-size: 65px;
}
.contents span{
    color: #d8301d;
    font-style: italic;
}
.contents p{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.674);
}
.hero .mainimage{
    width: 45%;
}
.hero .mainimage img{
    width: 650px !important;
}
.contents .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.contents .signup{
    width: 220px;
    height: 40px;
    padding: 20px;
    background-color: #EB0029;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 45px;
}
.contents .signup p{
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}

.contents .signup:hover{
    background-color: #b51e0d;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}
.contents .vedio {
    width: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 45px;
    gap: 10px;
}
.img{
    width: 40px;
    height: 30px;
    padding: 10px;
    background-color: #ffca45;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contents .vedio img{
    width: 15px;
}
.contents .vedio p{
    padding: 0;
}
.img:hover{
    background-color: #fae9b6fd;
    /* transform: scale(1.05);
    transition: 0.3s; */
    cursor: pointer;
    transition: 2s;
}
.service{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.servicesec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}
body .servicesec h1{

    font-size: 47px;
    font-weight: 800;
    padding-top: 15px;
}
body .servicesec h4{
    font-size: 17px;
    color: #EB0029;
    font-weight: 600;
}
.section2{
    width: 100%;
    height: 100vh;
}
.service .services{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin:0 auto;
}

.service .services img{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.services .order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.services .order h2{
    font-size: 30px;
    font-weight: 900;
    padding-top: 10px;
}
.services .order h4{
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}
.section3{
    width: 100%;
    height: 100vh;
}
.section3 .menu{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-right: 30px;
    padding-top: 30px;
}
.section3 .menu .menuimg4{
    width: 300px;
    height: 450px;
    background-image: url("/images/curry4.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    
}
.section3 .menu .menuimg1{
    width: 300px;
    height: 450px;
    background-image: url("/images/curry1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;

}
.section3 .menu .menuimg2{
    width: 300px;
    height: 450px;
    background-image: url("/images/curry2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;

}
.section3 .menu .menuimg3{
    width: 300px;
    height: 450px;
    background-image: url("/images/curry3n.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;

}
.menu .menudet{
    color: #fff;
    position: relative;
    bottom: -300px ;
}
.ordernow{
    display: flex;
    gap: 10px;
}
.menu .ordernow img{
    width: 15px;
}